.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.active {
  color: gray;
}

.inactive {
  color: black;
}

.invisible {
    width: 100px;
}

h1 {
  color: darkblue;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100px;
  justify-content: space-between;
}
